<% include partials/head%>
<div  id ="car"class="ui card container segments">

            <div class="content">
                <div class="header">Description</div>
                <div class="description">
                    this website allow you to shrink links and redirect people to your content for a couple of second
                </div>
            </div>
            <div id="b1" class="ui bottom attached button">
                <i class="add icon"></i>
                Shrink a link
            </div>
            <div id="b2" class="ui action input">
                <input id="site"type="text" placeholder="Enter your link...">
                <button type="submit" id="b3" class="ui button">Shrink <i id ="link"class="icon linkify"></i></button>
            </div>


</div>
<div  id="lin" class="ui container segment">
    <div  class="ui message">
        <div class="header">
            Shrinked link is
        </div>
        <p id="va" ></p>
    </div>
</div>
<% include partials/foot%>
