<% include partials/head1%>

    <div id="circle" class="ui container segment">
        <h3 id="a"></h3>
    </div>
    <div id="ab" class="ui container ">
        <div id="circle" class="ui container segment">
            <h1 id="a">Done</h1>
        </div>
        <a class="ui button blue" href="http://<%=site.site%>">go to the website</a>
    </div>

<% include partials/foot1%>
